body {
  background-color: #eae0cc; /* forest green: 3D614C */
  height: 100vh; /* Make the background cover the full viewport height */
  display: flex;
  align-items: flex-start;
}

.page-container {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
  padding-left: 40px;
}
